
.hero-text 
{
    color: white;
}

.top-logo
{
    margin: none;
    padding: 0;
    height: auto;
    width: auto;
    border: 1px black;
}

.logo-home
{
    padding: 0 0 0 10px !important;
}